*,
*::before,
*::after {
	box-sizing: border-box;
	/* outline: 2px solid lime; */
	/* background: hsl(0 100% 50% / .1); */
}
	
* {
	margin: 0;
	padding: 0;
}

/* CSS reset */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td { 
	margin:0;
	padding:0;
}

html,body {
	width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
    overflow-y: hidden; 
}

body {
	font-size: 100%;
	display: flex;
	flex: 1;
	flex-direction: column;
	min-height: 100vh;
}

.lightTheme {
	color: hsl(0, 0%, 0%);   /* hsl(235, 100%, 40%)  #01c*/
	background-color: hsl(72, 100%, 98%); /* milk white */
}

.darkTheme {
	color:  hsl(0, 0%, 100%); 
	background-color: hsl(0, 0%, 0%);
}

.OSDefaultTheme {
}

#color1Input, #color2Input, #color3Input {
	background-color: transparent;
	width: 30px;
	height: 30px;
	border: none;
	cursor: pointer;
    vertical-align: middle;
}

thead {
	position: sticky; /* sticky; */
	color:   #ffffff; 
	background-color: #001858;
}

th {
	/* position: -webkit-sticky; */
	position: sticky; /* sticky; */
	top: 0;
	z-index: 9999; /* Keep it on top of other rows */
	color:   #ffffff; 
	background-color: #001858;
	/* background-color: #87CEEB;  */
}

table {
	border-collapse: collapse;
	border-spacing: 0;
    width: 100%;
	text-align: left;
}

table tbody tr {
	counter-increment: rowNum;
}

/* Display the counter in the first cell of each row */
table tr td:first-child::before {
	content: counter(rowNum);
	min-width: 4rem;
	font-weight: bold;
	font-size: 1.5rem;
	margin-right: 0.5rem;
	vertical-align: middle; 
}

.classSubtitleRow {
	min-height: 1.875rem;
}

.classSubtitleNumber,
.classSubtitleStart,
.classSubtitleEnd,
.classSubtitleTrack {
	font-size: 1.5rem; 
	vertical-align: middle;
}

.classSubtitleText {
	font-size: 1.875rem; 
	vertical-align: middle;
}

/* Layout for the horizontal row */
.button-row {
    display: flex;
    gap: 10px;
    font-family: Arial, sans-serif;
	width: max-content;
}

.hamburger-dropdown-wrapper > .line {
	content: "";
	width: 18px;
	background-color: #333333;
    height: 2px;
    display: block;
}

.hamburger-dropdown-wrapper {
	display: flex;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 8888;  /* Always on top */
	flex-direction: column;
	justify-content: center;
	align-items: center;
	row-gap: 2px;
	width: 24px;
	height: 24px;
	border: 1px solid #333333;
	border-radius: 1px;
	background-color: #ffffff;
}

.hamburger-dropdown-wrapper:hover .hamburger-dropdown-block {display: block;}

.hamburger-dropdown-block {
	display: none;
	position: absolute;
	left: 40%;
	top: 30%;
	border: 2px solid blue; 
    border-radius: 12px;
	padding: .75rem;
	min-width: 400px;
	background-color: rgb(238, 238, 233);
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1000;
}

.wrapper {
	position: relative;
	flex-direction: column;
	height: auto;
	aspect-ratio: 16 / 9;
	width: min(40%, 100% - 3rem);
	/* width: min(40%, 100% - 3rem); */
	/* width: min(700px, 100% - 3rem); */
	margin-top: 0;
	margin-left: auto;
	margin-right: auto;
	/* margin: 0 auto; */
	padding: 5px;
	border-radius: 12px;
	background-color: #3498DB;
	border: 3px solid hsla(350, 27%, 96%, 0.75);
	display: flex;
	justify-content: center;
	align-items: center;
	box-sizing: border-box;
}	  

.pageTitleWrapper {
	position: relative;
	flex-direction: column;
	height: auto;
	width: 100%;
	margin: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	box-sizing: border-box;
}	  

.pageTitle
{
	border: 1px solid blue;
	border-radius: 12px;
	background-color: tomato;
	color: white;
	padding: 3px 3px;
	text-align: center;
	text-decoration: none;
	font-family: Arial; /* inherit;*/
	font-size: 2rem;
	margin-top: 10px;
	height: fit-content;
	width: fit-content;
}

.videoFileInput {
	display: none;
}

.inputWrapper {
	width: stretch;
	height: fit-content;
	margin-left: 20%;
	margin-right: auto;
	margin-top: auto;
	margin-bottom: auto;
}

.videoFileContainer
{
	border: none; /* 1px solid blue; */
	border-radius: 12px;
	/* background-color: tomato; */
	color: white;
	padding: 3px 3px;
	text-align: center;
	text-decoration: none;
	font-family: Arial; /* inherit;*/
	font-size: 2rem;
	margin: auto;
}

.vidButton
{
	border-radius: 12px;
	/* border: none; */
	color: white;
	background-color: #001858;
	padding: 3px 3px;
	text-align: center;
	text-decoration: none;
	font-family: Arial; /* inherit;*/
	font-size: 1.25rem;
	font-weight: bold;
	margin: 3px 2px;
	cursor: pointer;
	transition: background-color 0.25s;
	width: fit-content;
	height: fit-content;
}

.vidButton:hover {background-color: hsl(25, 89%, 37%);}

.vidButton:active {background-color: hsl(25, 89%, 67%);}

.videoURLContainer
{
	border: none;
	color: hsl(0, 0%, 100%);
	font-weight: 900;
	padding: none;
	margin-left: 3px;
	font-family: Arial; /* inherit;*/
	font-size: 1.25rem;
}

.videoURLInput {
	width: 70%;
	height: 2rem;
	font-family: Arial;
	font-size: 1rem;
	margin: 5px;
	padding: 5px;
}

/* Force display of video controls and timeline
video::-webkit-media-controls-panel {
	display: flex !important;
	opacity: 0.5 !important;
	object-fit: fill;
}
*/
/*	-webkit-media-controls-timeline */

.videoArea {
	display: none;
	width: 100%;
	height: auto;
	preload: auto;
}

/* ----------- seekBar ----------- */

.seekBarContainer {
	display: none; /* inline; */
	margin-top: 0;
	margin-left: auto;
	margin-right: auto;
	align-items: center;
	z-index: 800;  /* Always on top */
}

.seekBarContainer,
.seekBarContainer .slider {
	width: 100%;
}

.slider {
	-webkit-appearance: none;
	appearance: none;
	width: 100%;
	height: 5px;
	border-radius: 2px;
	background-color: #001858;
	outline: none;
	transition: all 0.2s ease;
}

.slider::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background-color: #04AA6D;	 /* Green background */ /* #fff; */
	cursor: pointer; /* Cursor on hover */
	
}

.slider::-moz-range-thumb {
  width: 10px; /* Set a specific slider handle width */
  height: 10px; /* Slider handle height */
  background-color:  #04AA6D;  /* Green background */
  cursor: pointer; /* Cursor on hover */
}

.help-button
{
	width: 4rem;
}

.button
{
	border-radius: 12px;
	color: white;
	padding: 3px 3px;
	text-align: center;
	text-decoration: none;
	font-family: Arial; 
	font-size: 1rem;
	min-width: 4rem;
	margin: 0px 2px;
	cursor: pointer;
	transition: background-color 0.25s;
}

.button:hover {background-color: hsl(25, 89%, 37%);}

.button:active {background-color: hsl(25, 89%, 67%);}



.color1 {
	background-color: #001858;
} 
.color2
{
	background-color: #001858;
}
.color3 {
	background-color: #001858;
} 
.color4 {
	background-color: #001858;
} 
.color5 {
	background-color: #001858;
} 
.color6 {
	background-color: #3498DB;
} 
.color7 {
	background-color: red;
} 

.hovertext1 {
  position: relative;
  width: fit-content;
  display: inline;
}

.hovertext1:before {
	content: attr(data-hover);
	visibility: hidden;
	opacity: 0;
	font-size: 20px;
	width: 140px;
	background-color: black;
	color: #fff;
	text-align: left;
	border-radius: 5px;
	padding: 5px;
	position: absolute;
	z-index: 1000;
	left: 0%;
	bottom: 140%;
}

.hovertext1:hover:before {
	opacity: 1;
	visibility: hidden; /* visible; */
	z-index: 1000;
}

.hovertext {
  position: relative;
}

.hovertext:before {
	content: attr(data-hover);
	visibility: hidden;
	opacity: 0;
	font-size: 20px;
	width: 140px;
	background-color: black;
	color: #fff;
	text-align: left;
	border-radius: 5px;
	padding: 5px;
	position: absolute;
	z-index: 1000;
	right: 105%;
	top: 0%;
}

.hovertext:hover:before {
	opacity: 1;
	visibility: hidden; /* visible; */
	z-index: 1000;
}

.time {
	display: inline-block; /* flex; */
	align-items: left;
	gap: 4px;
}

select {
	font-size: 20px;
	color: black;
}

.selectClass {
	padding: 3px;
}

.selectClass:hover {background-color: #19e8ef;}

.selectOption {
	font-size: 20px;
}

.general-dropdown-wrapper {
	position: relative;
	display: inline-block;
}

.general-dropdown-wrapper:hover .general-dropdown-block {display: block;}

#save2Files { display: none; }

.general-dropdown-wrapper .dropdown-arrow {
    font-size: 1rem;
    margin: 0;
    color: red;
}

.general-dropdown-block {
	display: none;
	border: 2px solid rgb(6, 6, 94);
	border-radius: 4px;
	position: absolute;
	padding: 3px;
	background-color: #f1f1f1; 
	min-width: max-content; /* 150px; */
	height: max-content;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1000;
}

.general-dropdown-unit {
	font-size: 1.25rem; /* 34px; */
	color: black;
}

.general-dropdown-option {
	background-color: rgba(247, 243, 238, 0.486); /* #f1f1f1; */
	font-size: 1.25rem;
	transition: background-color 0.25s;
	border: 2px, solid black;
	border-radius: 0px;
    border-top: none; /* Prevents double borders between stacked buttons */
	display: block;
	margin-bottom: 2px;
	padding: 2px;
}

.general-dropdown-option:hover {background-color: hsl(182, 87%, 67%);} 

.general-dropdown-option:active {background-color: hsl(182, 87%, 37%);}


.dropleft {
    right: 100%;
    top: 0%;
    margin-right: 0.125rem;
}

.dropright {
    left: 100%;
    top: 0%;
    margin-left: 0.125rem;
}

.dropup {
	bottom: 1.8rem;
	right: 100%; 
	left: -80%;
}

.range-dropdown-wrapper {
	position: relative;
	display: inline-block;
}

.range-dropdown-wrapper:hover .range-dropdown-block {display: flex;} 

.range-dropdown-wrapper .dropdown-arrow {
    margin: 0;
    color: red;
}

.range-dropdown-block {
	display: none;
	position: absolute;
	left: 0;
	margin-bottom: 5px;
	border: 2px solid rgb(6, 6, 94);
	border-radius: 4px;
	padding: 3px;
	background-color: #f1f1f1; 
	color: black;
	max-width: max-content; /* 150px; */
	height: 2.5rem;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 9999;
	vertical-align: middle;
	gap: 3px;
}

.range-arrowButton {
	color: black;
	background-color:white;
	padding: 0; 
	text-align: center;
	font-size: 1.5rem;
	margin: 0px 2px 0px 2px; 
	cursor: pointer;
}

.rangeCount {
	font-size: 1.5rem;
	color: #000; 
}

/* ----------- Settings ----------- */

.settings-dropdown-wrapper {
	position: relative;
	display: inline-block;
}

.settings-dropdown-wrapper .dropdown-arrow {
    font-size: 1rem;
    margin: 0;
    color: red;
}

.settings-dropdown-wrapper:hover .settings-dropdown-block {display: flex;}

.settings-dropdown-block {
	display: none;
	padding: 15px;
	border: 1px solid blue;
	position: absolute;
	background-color: #f1f1f1;
	min-width: 1200px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 500;
}

.settings-dropdown-innerblock {
	margin: 0px;
	flex: 1;
	margin-right: 5px;
}

.settings-dropdown-unit {
	font-size: 34px;
	color: black;
}

.settings-dropdown-option {
	font-size: 1.5rem;
	padding-top: 0px;
	padding-left: 2px;
	padding-right: 2px;
	padding-bottom: 3px;
}

/* .settings-dropdown-option:hover {background-color: #19e8ef;} */

/* timeEditPopup BEGIN */

.timeEditPopupButton1
{
	color: black;
	background-color:white;
	padding: 0; 
	text-align: center;
	display: inline;
	font-size: 1.5rem;
	margin: 0px 2px 0px 2px; 
	cursor: pointer;
}

.hourContainer,
.minuteContainer,
.secondContainer,
.millisecondContainer {
    justify-content: center;
    /* align-items: center; */
	padding-left: 0;
	margin-left: 0;
    display: inline-block;
    height: 100%;
    text-align: center;
}

.timeEditPopupTitle {	
	font-family: Arial; 
	font-size: 1.25rem;
	color: white;
	display: flex;
	justify-content: center;
	margin: 0px 0px .6rem 0px;
    border-radius: 8px;
	cursor: pointer;
	transition: background-color 0.25s;
}

.timeEditPopupTitle:hover {background-color: hsl(25, 89%, 37%);}

.timeEditPopupTitle:active {background-color: hsl(25, 89%, 67%);}

.timeColon,
.timeDigit1,
.timeDigit2,
.timeDigit3 {
	margin: .6rem 0px .6rem 0px;
	font-size: 1.75rem;
	color: #000; 
}

.timeEditPopupThumb {
    display: none;
    height: auto;
	padding: none;
    position: absolute; 
    /* text-align:center; */
    top: 65%;
	left: 50%;
    width: 2rem;
	height: 2rem;
    z-index:10000;
    background-color: #c71f1f; 
	box-shadow: 5px 5px 10px hsla(241, 86%, 77%, 0.431);
    border-radius: 50%;
	border: 2px solid yellow;
	-webkit-user-select: none; /* Safari */
	-ms-user-select: none; /* IE 10 and IE 11 */
	user-select: none; /* Standard syntax */
	opacity: 0.5;
}

.timeEditPopup{
    /* background-color:rgba(0,0,0,.4); */
    display: none;
    height: auto;
	padding: none;
    position: absolute; 
    /* text-align:center; */
    top: 65%;
	left: 50%;
    width: 800px; /* 740px;*/
    z-index: 9000;
    background-color: #fff; 
	/* border: 1px solid black; */
	box-shadow: 5px 5px 10px hsla(241, 86%, 77%, 0.431);
    border-radius: 8px;
	-webkit-user-select: none; /* Safari */
	-ms-user-select: none; /* IE 10 and IE 11 */
	user-select: none; /* Standard syntax */
	opacity: 0.1;
}

.timeEditPopupWrapper {
	background-color: #fff; 
    /* box-shadow: 10px 10px 10px #555; */
    display: inline-block;
    height: auto;
    max-width: 280px;
    min-height: 200px;
    vertical-align: top;
    width: auto; /* 100%; */
    position: relative;
    border-radius: 8px;
	border: 1px solid black;
    padding: 15px 2% 15px 2%;
}

.timeEditPopupLabel {
	padding: 0;
	display: flex;
	flex-direction: row;
	float: left;
	width: 100%;
	height: fit-content;
	cursor: move;
	z-index: 10;
	margin-bottom: 3px;
	background-color: #001858;
	color: #fff;
	border-radius: 4px;
}

.timeEditPopupHeaderBlock {
    display: flex;
	flex-direction: row;
	background-color: #001858;
	width: 100%;
	height: fit-content;
	margin-bottom: 3px;
    border-radius: 4px;
}

.timeEditPopupV,
.timeEditPopupO,
.timeEditPopupX {
	/* float: right; */
	color: #fff;
	max-width: 2rem; /* 5%; */
	font-size: 1rem;
	cursor: pointer;
	border: 2px solid rgba(146, 210, 16, 0.439);
}

/* timeEditPopup END */

/* textEditPopup BEGIN */


.textEditPopupWrapper {
	background-color: #fff; 
    /* box-shadow: 10px 10px 10px #555; */
    display: inline-block;
    height: auto;
    max-width: 300px;
    min-height: 200px;
    vertical-align: top;
    /* align-items: top; */
    width: 100%; /* auto;*/ /* 100%; */
    position: relative; 
    border-radius: 8px;
	border: 1px solid black;
    padding: 15px 2% 15px 2%;
}



.textEditButtonColumn {
    vertical-align: top;
	padding-left: 0;
	margin-left: 0;
    display: inline-block;
	width: 48%;
    height: auto; /* 100%; */
	/* border: 1px solid #333333; */
}


.textEditPopupTitle {	
	font-family: Arial; 
	font-size: 1.25rem;
	color: white;
	display: flex;
	justify-content: center;
	margin: 0px 0px .6rem 0px;
    border-radius: 8px;
	cursor: pointer;
	transition: background-color 0.25s;
}

.textEditPopupTitle:hover {background-color: hsl(25, 89%, 37%);}

.textEditPopupTitle:active {background-color: hsl(25, 89%, 67%);}

.textEditPopupButton1
{
	color: black;
	background-color:white;
	padding: 0; 
	text-align: center;
	display: flex; /* inline-block; */
	font-size: 1.5rem;
	margin: 0px 2px 8px 2px; 
	cursor: pointer;
}

/* textEditPopup END */

/* dashboard BEGIN */

#dashboard{
    /* background-color:rgba(0,0,0,.4); */
    display: none;
    height:auto;
	padding: none;
    position: absolute;
    /* text-align:center; */
    top:50%;
	/* left: 50%; */
    width: 315px;  
    z-index:10000;
	opacity: 1;
    background-color: #fff; 
	/* border: 1px solid black; */
	box-shadow: 5px 5px 10px hsla(241, 86%, 77%, 0.431);
    border-radius: 8px;
	-webkit-user-select: none; /* Safari */
	-ms-user-select: none; /* IE 10 and IE 11 */
	user-select: none; /* Standard syntax */
}

.dashboardWrapper {
	background-color: #fff; 
	color: black;
    /* box-shadow: 10px 10px 10px #555; */
    display: inline-block;
    height: auto;
    max-width: 315px;
    /* min-height: 200px; */
    vertical-align: top;
    width: auto; /* 100%; */
    position: relative;
    border-radius: 5px;
	border: 1px solid black;
    padding: 15px 2% 15px 2%;
}

.dashboardHeaderBlock {
    display: inline-block;
	background-color: #001858;
	width: 100%;
    border-radius: 8px;
}

.dashboardHeader {
	padding: 4px;
	display: flex;
	float: left;
	width: 95%;
	cursor: move;
	z-index: 10;
	margin-bottom: 3px;
	color: #fff;
	border-radius: 4px;
}

.dashboardO,
.dashboardX {
	float: right;
	color: #fff;
	max-width: 2rem; /* 5%; */
	cursor: pointer;
	border: 2px solid rgba(146, 210, 16, 0.439);
}


/* dashboard END */


.themeList-dropdown-wrapper {
	position: relative;
	display: inline-block;
}

.themeList-dropdown-wrapper:hover .themeList-dropdown-block {display: block;}

.themeList-dropdown-wrapper .dropdown-arrow {
    font-size: 1rem;
    margin: 0;
    color: red;
}

.themeList-dropdown-block {
	display: none;
	border: 1px solid blue;
	position: absolute;
	padding: 3px;
	background-color: #f1f1f1;
	min-width: max-content; /* 150px; */
	height: max-content;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1000;
}

.themeList-dropdown-unit {
	font-size: 1.25rem; /* 34px; */
	color: black;
}

.themeList-dropdown-option {
	font-size: 1.25rem;
	transition: background-color 0.25s;
	border: 2px, solid black;
	border-radius: 4px;
	display: block;
	margin-bottom: 2px;
	padding: 2px;
}

.themeList-dropdown-option:hover {background-color: hsl(182, 87%, 67%);} 

.themeList-dropdown-option:active {background-color: hsl(182, 87%, 37%);}

.subtitleTableDiv {
	margin: 0;
	padding-left: 2px; 
	overflow-y: auto; 
	height: 1rem; 
	display: none;
}

.notDisplayed {
	display: none;
}

.selected {
	background-color: #c71f1f; 
}